<h3>Cocktails List:</h3>
<% @cocktails.each do |cocktail| %>
  <%= cocktail.name %>
  <%= link_to 'Delete', cocktail, method: :delete, data: {confirm: 'Are you sure'}, class: 'btn btn-danger' %>
  <%= link_to 'Edit', edit_cocktail_path(cocktail), class: 'btn btn-info' %>
  <%= link_to 'New', new_cocktail_path, class: 'btn btn-info' %>
  <%= link_to 'Show', cocktail, class: 'btn btn-info' %>

<% end  %>
