<div class="container-show">
  <div class="title">
    <h3>Cocktail:</h3>
  </div>
    <div class="card-show">
      <div class="cocktail-name">
        <%= @cocktail.name %>
      </div>
      <% @cocktail.doses.each do |dose| %>
        <div class="cocktail-dose">
          <ul>
            <li>
              <%= dose.description %> - <%= dose.ingredient.name %>
              <%= link_to 'Delete', dose, method: :delete, data: {confirm: 'Are you sure'}, class: 'btn' %>
            </li>
          </ul>
        </div>
        <% end %>
        <div class="cocktail-photo">Drink Photo</div>
        <div class="menu-items">
      <p id="menu-items"><%= link_to 'New Dose', new_cocktail_dose_path(@cocktail), class: 'btn' %>
      <%= link_to 'Cocktails List', cocktails_path, class: 'btn' %></p>
    </div>
   </div>
</div>
